<%= render "shares/aqua_header" %>
<body class="bg-[rgba(0,76,120,1)]">
    <div class="min-h-screen flex flex-col items-center justify-center space-y-40">
      <%= image_tag "Aquarium.jpg", class: "w-full h-[700px]" %>
      <div class="flex space-x-50">
        <div class="flex items-center justify-center text-center">
          <%= render partial: "shares/fish_icon", locals: { text: "水族館に行く", path: rails_health_check_path } %>
        </div>
        <div class="flex items-center ">
          <%= render partial: "shares/fish_icon", locals: { text: "推しを教える", path: root_path } %>
        </div>
      </div>
    </div>
</body>
